<main role="main" class="container">
  {% extends 'inicio.html' %} {% block principal %}
  <div class="text-center mt-5 pt-5">
    <h1>Entre em contato conosco!</h1>
    <p>Fale com responsável {{nome }} pelo telefone {{telefone }}</p>

    {%if sucesso %}
    <p class="alert alert-success">Mensagem enviada com sucesso</p>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %} {% load bootstrap5 %} {% bootstrap_form formulario %}
      <hr />
      <button typpe="submit" class="btn btn-primary">Enviar Mensagem</button>
    </form>
  </div>
  {% endblock %}
</main>
